h1 {
    padding-bottom:10px;
}

#main {
    position:relative;
    width:1020px;
    padding:20px;
    margin:auto;
}

#heatmapArea {
    position:relative;
    float:left;
    width:800px;
    height:600px;
    border:1px dashed black;
}

#configArea {
    position:relative;
    float:left;
    width:200px;
    padding:15px;
    padding-top:0;
    padding-right:0;
}

.btn {
    margin-top:10px;
    padding:10px 20px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:2px solid black;
    color:white;
    background-color:black;
}

.btn.right{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-left-radius:0;
    -moz-border-bottom-left-radius:0;
    -o-border-top-left-radius:0;
    -o-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
}

.btn.left{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-top-right-radius:0;
    -moz-border-bottom-right-radius:0;
    -o-border-top-right-radius:0;
    -o-border-bottom-right-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
}

.btn.narrow{
    padding: 5px 10px;
    width: 51px;
    text-align: center;
    cursor:pointer;
}

.btn:hover,.btn.uncollapsed{
    background-color:grey;
    color:black;
}

textarea{
    width:260px;
    padding:10px;
    height:200px;
}

div#mask{
    width: 100%;
    height: 100%;
    z-index: 100000000;
    background-color: #ccc;
    position: fixed;
    top:0;
    left:0;
    display:none;
    opacity: 0.5;
}

.empty{
    color: #aaa;
}

.fieldset{
    padding-bottom: 10px;
    font-size: 18px;
    cursor:pointer;
}

.disno{
    display:none;
}

.clbo{
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}