h1 {
    padding-bottom:10px;
}

#main {
    position:relative;
    width:1020px;
    padding:20px;
    margin:auto;
}

#heatmapArea {
    position:relative;
    float:left;
    width:800px;
    height:600px;
    border:1px dashed black;
}

#configArea {
    position:relative;
    float:left;
    width:200px;
    padding:15px;
    padding-top:0;
    padding-right:0;
}

.btn {
    margin-top:10px;
    padding:10px 20px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:2px solid black;
    color:white;
    background-color:black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn.right{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-left-radius:0;
    -moz-border-bottom-left-radius:0;
    -o-border-top-left-radius:0;
    -o-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
}

.btn.left{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-top-right-radius:0;
    -moz-border-bottom-right-radius:0;
    -o-border-top-right-radius:0;
    -o-border-bottom-right-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
}

.btn:hover{
    background-color:grey;
    color:black;
    cursor: pointer;
}

input{
    width: 100%;
}

.disno{
    display:none;
}

.clbo{
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

div.jqimessage{
    text-align: center;
}

.jqicontainer .jqiclose {
    display: none;
}

#listWrapper #list tr.row:hover{
	background-color: #ccc;
	color: #fff;
	border-color: #fff;
}
#listWrapper #list tr.row:hover td{
	border-color: #fff;
}

#listWrapper #list tr{
	border-bottom:#ccc solid 1px;
}
#listWrapper #list td, #listWrapper #list th{
	border-right:#ccc solid 1px;
	padding: 2px;
}
#listWrapper #list tr.noborder{
	border: none;
}
#listWrapper #list td.noborder, #listWrapper #list th.noborder{
	border: none;
}
#listWrapper #list td.button{
	padding: 6px 4px;
	width: 74px;
}
#listWrapper #list td.button span{
	background-color: #ccc;
	color: #555;
    padding:4px 8px;
    -moz-border-radius:7px;
    -o-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:2px solid #ccc;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	cursor: pointer;
}

#listWrapper #list tr.row:hover td.button span{
	background-color: #fff;
	color: #00a;
}

.paramForm input{
	width: 80px;
	margin-left: 10px;
	text-align: right;
}

.paramForm span{
	padding-left: 5px;
}

.wide div.jqi{
	width: 600px !important;
}

#listWrapper #list{
	width: 560px;
}

div.jqimessage h2{
	font-size: 14px;
	margin-bottom: 15px;
}
div.jqimessage input.number{
	width: 50px;
	text-align: right;
	margin-left: 10px;
}

.loadedDataset{
	display: none;	
	font-weight: bold;
}

.loadedDataset span{
	font-weight: normal;
}