/*  Chip Air Widgets, Shortcodes Stylesheet Guide
 *
 * Widgets
 *
 * =Chip Life Popular Posts Widget
 * =Chip Life Social Widget, =Chip Life Social Advanced Widget
 * =Chip Life Email Newsletter Widget, =Chip Life Contact Form Widget, =Chip Life Contact Info Widget
 * =Chip Life Flickr Widget, =Chip Life Twitter Widget
 * =Chip Life Google Map Widget
 *
 * Shortcodes
 *
 * =Toggle Shortcode, =Tabs Shortcode, =Accordions Shortcode
 * =Highlight Shortcode, =Dropcap Shortcode, =Blockquote Shortcode, =List Shortcode
 * =Box Shortcode, =Button Shortcode, =Columns Shortcode
 *
------------------------ */

/* =Chip Life Popular Posts Widget
------------------------ */

#sidebar .chip-life-popular-posts-widget h5 {
	margin: 0;
	padding: 0;
}

#sidebar .chip-life-popular-posts-widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar .chip-life-popular-posts-widget ul li {
	margin: 0 0 10px 0;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px dotted #DADEE0;
	background: none;
	overflow: hidden;
}

#sidebar .chip-life-popular-posts-widget ul li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

#sidebar .chip-life-popular-posts-widget ul li img {
	margin-right: 15px;
	float: left;
	padding: 1px;
	border: 1px double #137bbc;
	border-image: initial;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#sidebar .chip-life-popular-posts-widget .popular-post-body {
	font-size: 12px;
}

#sidebar .chip-life-popular-posts-widget .popular-post-date {
	display: block;
	color: #919598;
	font-size: 10px;
	text-transform: uppercase;
}


/* =Chip Life Social Widget
------------------------ */

.chip-life-social-widget .box .icons {
	display: block;	
	width: 92px;
	float: left;
	margin: 0 0 5px 0;
}

.chip-life-social-widget .rss-url {
	background: url(images/icon-rss.png) no-repeat top left;
	margin: 0 3px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .email-subscription-url {
	background: url(images/icon-email.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .twitter-url {
	background: url(images/icon-twitter.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .delicious-url {
	background: url(images/icon-delicious.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .facebook-url {
	background: url(images/icon-facebook.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .stumble-url {
	background: url(images/icon-stumble.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .digg-url {
	background: url(images/icon-digg.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .linkedin-url {
	background: url(images/icon-linkedin.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

.chip-life-social-widget .youtube-url {
	background: url(images/icon-youtube.png) no-repeat top left;
	margin: 0 5px 0 3px;
	padding: 1px 0 1px 20px;	
}

/* =Chip Life Social Advanced Widget
------------------------ */

.chip-life-social-advanced-widget .box {
	width: 300px;
}

.chip-life-social-advanced-widget .facebook,
.chip-life-social-advanced-widget .plusone,
.chip-life-social-advanced-widget .twitter,
.chip-life-social-advanced-widget .general {
	width: 282px;
	padding: 8px;
}

.chip-life-social-advanced-widget .facebook {
	background-color:#FFF;
	border-top: solid #e0e0e0 1px;
	border-right: solid #e0e0e0 1px;
	border-left: solid #e0e0e0 1px;
	border-bottom: solid #e0e0e0 1px;
}

.chip-life-social-advanced-widget .plusone {
	background-color: #e3edf4;
	border-top: solid #f2f2f2 1px;
	border-right: solid #e0e0e0 1px;
	border-left: solid #e0e0e0 1px;
	border-bottom: solid #e0e0e0 1px;
}

.chip-life-social-advanced-widget .twitter {
	background-color: #e3edf4;
	border-top: solid #f2f2f2 1px;
	border-right: solid #e0e0e0 1px;
	border-left: solid #e0e0e0 1px;
	border-bottom: solid #e0e0e0 1px;
}

.chip-life-social-advanced-widget .plusone-script {
	float: left;
}

.chip-life-social-advanced-widget .plusone-label {
	font-size: 11px;
}

.chip-life-social-advanced-widget .general {
	background-color: #e3edf4;
	border-top: solid #f2f2f2 1px;
	border-right: solid #e0e0e0 1px;
	border-left: solid #e0e0e0 1px;
	border-bottom: solid #e0e0e0 1px;
}

.chip-life-social-advanced-widget .general-icons {
	width: 16px;
	float: left;
	margin: 0 10px 0 0;
}

.chip-life-social-advanced-widget .feedburner-followers {
	font-size: 11px;
}

/* =Chip Life Email Newsletter Widget
------------------------ */

.chip-life-email-newsletter-widget .info-text {
	margin: 0 0 10px 0;
}

.chip-life-email-newsletter-widget #subbox {
	width: 225px;
	padding: 8px;
	color: #666666;
	background-color: #232323;
	border: solid 1px #222222;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.chip-life-email-newsletter-widget #subbutton {
	margin: 0 0 0 5px;	
	background: #097dc5;
	color: #FFF;
	text-decoration: none;
	padding: 6px;
	border: 1px solid #2F4E6E;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* =Chip Life Contact Form Widget
------------------------ */

.chip-life-contact-form-widget p {
	margin: 0;
	padding: 0;
}

.chip-life-contact-form-widget .info-text {
	margin: 0 0 10px 0;
}

.chip-life-contact-form-widget .from-name,
.chip-life-contact-form-widget .from-email,
.chip-life-contact-form-widget .from-message {
	width: 180px;
	margin: 0 0 10px 0;	
	padding: 8px;
	color: #666666;	
	border: 1px solid #dddddd;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.chip-life-contact-form-widget .from-message {
	width: 260px;	
}

.chip-life-contact-form-widget .form-submit {
	float: left;
	margin: 0;	
	background: #097dc5;
	color: #FFF;
	text-decoration: none;
	padding: 6px;
	border: 1px solid #2F4E6E;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.chip-life-contact-form-widget .form-target {
	float: left;
	margin: 10px 0 0 15px;
}

/* =Chip Life Contact Info Widget
------------------------ */

#footer-lmr-sidebars .chip-life-contact-info-widget ul {
	margin: 0 0 0 1px;
	list-style: none;
}

#footer-lmr-sidebars .chip-life-contact-info-widget ul li {
	padding: 6px 0 0px 25px;
}

#sidebar .chip-life-contact-info-widget li.phone_no,
#footer-lmr-sidebars .chip-life-contact-info-widget li.phone_no {
	background: url(images/icon-phone.png) no-repeat left 10px;
}

#sidebar .chip-life-contact-info-widget li.fax_no,
#footer-lmr-sidebars .chip-life-contact-info-widget li.fax_no {
	background: url(images/icon-fax.png) no-repeat left 10px;
}

#sidebar .chip-life-contact-info-widget li.email_addr,
#footer-lmr-sidebars .chip-life-contact-info-widget li.email_addr {
	background: url(images/icon-at.png) no-repeat left 10px;
}

#sidebar .chip-life-contact-info-widget li.street_adr,
#footer-lmr-sidebars .chip-life-contact-info-widget li.street_adr {
	background: url(images/icon-home.png) no-repeat left 10px;
}

/* =Chip Life Flickr Widget
------------------------ */

.chip-life-flickr-widget .box {
	width: 300px;
}

.chip-life-flickr-widget .flickr_badge_image {
	float: left;
	
	border:solid 1px #777777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 6px #777777;
    -webkit-box-shadow: 0px 0px 6px #777777;
    box-shadow: 0px 0px 6px #777777;
}

.chip-life-flickr-widget .flickr_badge_image img {
	float: left;
	
	border:solid 1px #777777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.chip-life-flickr-widget .box-s .flickr_badge_image {
	width: 75px;
	height: 75px;
	margin: 10px 20px 10px 0;
}

/* =Chip Life Twitter Widget
------------------------ */

.chip-life-twitter-widget li {
	margin: 10px 0;	
}

#sidebar .chip-life-twitter-widget li {
	background: url(images/icon-twitter-bird.png) no-repeat left 10px;
}

.chip-life-twitter-widget .tweet-timestamp {
	display: block;
	font-size: 11px;
}

.chip-life-twitter-widget .tweet-timestamp a:link,
.chip-life-twitter-widget .tweet-timestamp a:visited {
	color: #999999;
}

.chip-life-twitter-widget .tweet-timestamp a:hover {
	color: #DB4A38;
}

/* =Chip Life Google Map Widget
------------------------ */

.chip-life-gmap-widget .box {
	position: relative;
}

.chip-life-gmap-widget .map {
	width: 100%;
	height: 250px;
}

.chip-life-gmap-widget .gradient {
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
	background: -moz-linear-gradient(top, #fff, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
}

.chip-life-gmap-widget .shadow-all { 
	-moz-box-shadow: 0px 2px 4px #999;
	-webkit-box-shadow: 0px 2px 4px #999;
	box-shadow: 0px 2px 4px #999;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=160, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=160, Color='#999999');*/
}

.chip-life-gmap-widget .item { 
	padding: 1em;
	margin: 0 0 2em;
}

/*  =Toggle Shortcode
------------------------ */

.toggle .toggle-title {
	background: transparent url('images/icon-plus.png') no-repeat left 50%;
	padding: 0 0 0 23px;
	cursor: pointer;
}

.toggle .toggle-active {
	background: transparent url('images/icon-minus.png') no-repeat left 50%;
}

.toggle .toggle-content {
	display: none;
}

/* =Tabs Shortcode
------------------------ */

#content .ui-tabs .ui-tabs-panel {
	font-size: 13px;
}

/* =Accordions Shortcode
------------------------ */

#content .ui-accordion .ui-accordion-content {
}

#content .ui-accordion h3 {
	margin: 0;
	padding: 0;
}

#content .ui-accordion .ui-accordion-header a {
	padding-left: .6em;
	font-weight: bold;
}

/* =Highlight Shortcode
------------------------ */

.highlight {
	background: #FFFF99;
}

.highlight.dark {
	background: #1b1b1b;
	color:#FFF;
	text-shadow: 0 1px 0 #000;
}

/* =Dropcap Shortcode
---------------------------------------------------------- */

.dropcap1, .dropcap2 {
	float: left;
	text-align: center;
	overflow:hidden;
}

.dropcap1 {
	background:url(images/sprite-dropcap.png) no-repeat scroll 0px 0px transparent;
	color:#fff;
	line-height: 42px;
	width: 40px;
	margin:0 8px 2px 0;
	font-size: 32px;
}

.dropcap1.black {
	background-position: 0px 0px;
}

.dropcap1.gray {
	background-position: 0px -47px;
}

.dropcap1.red {
	background-position: 0px -94px;
}

.dropcap1.orange {
	background-position: 0px -141px;
}

.dropcap1.magenta {
	background-position: 0px -188px;
}

.dropcap1.yellow {
	background-position: 0px -235px;
}

.dropcap1.blue {
	background-position: 0px -282px;
}

.dropcap1.pink {
	background-position: 0px -329px;
}

.dropcap1.green {
	background-position: 0px -376px;
}

.dropcap1.rosy {
	background-position: 0px -423px;
}

.dropcap2 {
	font-size:40px;
	line-height: 40px;
	width:44px;
	height:44px;
	margin: 0 0 -4px 0;
}

.dropcap2.black {
	color: #1b1b1b;
}

.dropcap2.gray {
	color: #666666;
}

.dropcap2.red {
	color: #e62727;
}

.dropcap2.orange {
	color: #ff5c00;
}

.dropcap2.magenta {
	color: #a9014b;
}

.dropcap2.yellow {
	color: #ffb515;
}

.dropcap2.blue {
	color: #00ADEE;
}

.dropcap2.pink {
	color: #e22092;
}

.dropcap2.green {
	color: #91bd09;
}

.dropcap2.rosy {
	color: #f16C7c;
}

/*  =Blockquote Shortcode
------------------------ */

blockquote.alignleft,
blockquote.alignright {
	width: 200px;
	padding: 10px 15px;
	background: #f2f2f2;
}

blockquote.alignleft {
	float: left;	
	margin: 10px 15px 10px 0;
	border-right: 5px solid #e0e0e0;
}

blockquote.alignright {
	float: right;
	margin: 10px 0 10px 15px;
	border-left: 5px solid #e0e0e0;
}

/*  =List Shortcode
------------------------ */

ul.list-all {
	list-style-type:none;
	margin-left:5px;
}

ul.list-all li {
	background: url(images/icon-tick.png) no-repeat left top;
	padding: 0 0 0 28px;
	margin: 0 0 5px 0;
}

ul.list1 li {
	background: url(images/icon-tick.png) no-repeat left top;
}

ul.list2 li {
	background: url(images/icon-tick-circle.png) no-repeat left top;
}

ul.list3 li {
	background: url(images/icon-bullet-red.png) no-repeat left top;
}

ul.list4 li {
	background: url(images/icon-bullet-green.png) no-repeat left top;
}

ul.list5 li {
	background: url(images/icon-star.png) no-repeat left top;
}

ul.list6 li {
	background: url(images/icon-blue-expand.png) no-repeat left top;
}

ul.list7 li {
	background: url(images/icon-heart.png) no-repeat left top;
}

ul.list8 li {
	background: url(images/icon-light-bulb.png) no-repeat left top;
}



/* =Box Shortcode
------------------------ */

.info, .error, .notice, .success {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #bbb;
}

.box-content {
	border: 1px solid #fff;
	padding: 10px;
}

.box-content h3 {
	margin: 0px;
}

.info {
	background: #D7E7F5;
	color: #5E6984;
	border-color: #AACEE6;
}

.error {
	background: #FDE9EA;
	color: #A14A40;
	border-color: #FDCED0;
}

.notice {
	background: #FFF9CC;
	color: #736B4C;
	border-color: #FFDB4F;
}

.success {
	background: #E2F2CE;
	color: #466840;
	border-color: #BFE098;
}

.info a {
	color: #5E6984 !important;
}

.error a {
	color: #A14A40 !important;
}

.notice a {
	color: #736B4C !important;
}

.success a {
	color: #466840 !important;
}

.error_msg {
	background: none repeat scroll 0 0 #fff3f3;
	border: 1px solid #fcbec0;
	border-top: 0 none;
	color: #684c4c;
}

.error_msg ul, .error_msg ol {
	margin-bottom: 0;
}

/* =Framed Box
------------------------ */

.framed_box {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #bbb;
	margin-bottom: 20px;
}

.rounded, .rounded .framed-box-content {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.framed-box.center {
	text-align:center;
}

.framed-box-content {
	border: 1px solid #fff;
	background-color: #f0f0f0;
	padding: 15px;
}

.framed_box h1, .framed_box h2, .framed_box h3, .framed_box h4, .framed_box h5, .framed_box h6 {
	margin-top: 0;
}

/* =Boxes Note
------------------------ */

.note {
	padding: 10px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); /* FF3.5+ */
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); /* Saf3.0+, Chrome */
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); /* Opera 10.5, IE 9.0 */
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.08);
	margin-bottom: 20px;
	background-color:#FEFDF0;
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 0, .1) 0%,
		rgba(238, 238, 0, .08) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(238, 238, 0, .1)),
		to(rgba(255, 255, 0, .08))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#15FFFF00', EndColorStr='#19EEEE00'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#15FFFF00', EndColorStr='#19EEEE00')"; /* IE8 */
}

.note-content {	
}

.note-title{
	margin: 0 0 10px 0;
}

.note.alignleft{
	margin: 2px 16px 16px 2px !important;
}

.note.alignright{
	margin: 2px 2px 16px 16px !important;
}

/* =Button Shortcode
------------------------ */

.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button {	
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;	
	overflow: visible;
	cursor: pointer;
	border: 1px solid #999;
	border: rgba(0, 0, 0, .2) 1px solid; 
	border-bottom: rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient( center top, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(0, 0, 0, .1)), to(rgba(255, 255, 255, .1)) );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
}

button::-moz-focus-inner {
    border: none;
}

button.button {
	padding:0px;
	margin:0;
}

a.button, a.button:hover {
	text-decoration: none;
}

.button.full, .button.full span {
	display: block;
}

.button:hover, .button.hover {
	background: -moz-linear-gradient( center top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .2)) );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
}

.button:active, .button.active {
	top:1px;
	background: -moz-linear-gradient( center top, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1)) );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')";
}

.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}

/* =Button Size
------------------------ */

.button.small span {
	font-size:12px;
}

.button.medium span {
	font-size:14px;
}

.button.large span {
	font-size:18px;
}

/* =Button Color Scheme
------------------------ */

.button.black {
	background-color: #333333;
}

.button.gray {
	background-color: #666666;
}

.button.white {
	background-color: #FFFFFF;
}

.button.white span{
	color: #666666;
}

.button.red {
	background-color: #e62727;
}

.button.orange {
	background-color: #ff5c00;
}

.button.magenta {
	background-color: #A9014B;
}

.button.yellow {
	background-color: #ffb515;
}

.button.blue {
	background-color: #097dc5;
}

.button.pink {
	background-color: #e22092;
}

.button.green {
	background-color: #91bd09;
}

.button.rosy {
	background-color: #F16C7C;
}

/* =Columns Shortcode
------------------------ */

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 15px;
	float: left;
	min-height: 1px;
	height: auto !important;
	height: 1px;
}

.one_half {
	width: 48%;
}

.one_third {
	width: 30.6666%;
}

.two_third {
	width: 65.3332%;
}

.one_fourth {
	width: 22%;
}

.two_fourth {
	width: 48%;
}

.three_fourth {
	width: 74%;
}

.one_fifth {
	width: 16.8%;
}

.two_fifth {
	width: 37.6%;
}

.three_fifth {
	width: 58.4%;
}

.four_fifth {
	width: 79.2%;
}

.one_sixth {
	width: 13.3333%;
}

.two_sixth {
	width: 30.6666%;
}

.three_sixth {
	width: 47.9998%;
}

.four_sixth {
	width: 65.3332%;
}

.five_sixth {
	width: 82.6665%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}

.start h1, .start h2, .start h3, .start h4, .start h5, .start h6,
.last h1, .last h2, .last h3, .last h4, .last h5, .last h6 {
	margin-top: 0;
}

/* =Columns Two Level
------------------------ */

.one_half .one_half {
	margin-right: 8.3333%;
	width: 45.8333%;
}

.one_half .one_third {
	margin-right: 8.3333%;
	width: 27.7778%;
}

.one_half .two_third {
	margin-right: 8.3333%;
	width: 63.8889%;
}

.two_third .one_third {
	margin-right: 6.1224%;
	width: 29.2517%;
}

.two_third .two_third {
	margin-right: 6.1224%;
	width: 64.6258%;
}

.two_third .one_fourth {
	margin-right: 6.1224%;
	width: 20.4082%;
}

/* =Headings Shortcodes
------------------------ */

.chip-life-child-heading-shortcode-ul {
	padding: 0 0 20px 0;
	border-bottom: solid #e0e0e0 1px;
}